#mobnav {
    width: 100%;
    position: relative;
}
#mobNavMain {
    padding: 10px;
    padding-bottom: 5px;
    background-color: #fff;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    z-index: 2;
}
#mobnav-logo {
    width: 50px;
    height: auto;
}
#mobNavMainRight {
    display: flex;
    flex-direction: row;
}
a#MobShoppingCar {
    font-size: 20px;
}
#mobMenuIcon {
    margin-left: 10px;
    position: relative;
    width: 32px;
    height: 28px;
    border: 1px solid var(--webcolorDarkGreen);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
.mobMenuIconComp {
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: var(--webcolorDarkGreenL);
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    opacity: 1.0;
    transition: 0.1s;
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    -ms-transition: 0.1s;
    -o-transition: 0.1s;
}
.mobMenuIconComp:nth-child(1){
    top: 25%;
    left: 50%;
}
.mobMenuIconComp:nth-child(2),.mobMenuIconComp:nth-child(3){
    top: 50%;
    left: 50%;
}
.mobMenuIconComp:nth-child(4){
    top: 75%;
    left: 50%;
}
#mobMenuIcon.active .mobMenuIconComp:nth-child(1),#mobMenuIcon.active .mobMenuIconComp:nth-child(4){
    opacity: 0;
}
#mobMenuIcon.active .mobMenuIconComp:nth-child(2) {
    transform: rotate(-45deg);
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}
#mobMenuIcon.active .mobMenuIconComp:nth-child(3) {
    transform: rotate(-45deg);
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}
#mobNavMenu {
    z-index: 0;
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transform: translateY(0%);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    
}
#mobMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    background-color: #fff;
    padding-bottom: 20px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.05);
}
#mobMenu li {
    border-bottom: 1px solid var(--webcolorDarkGreenGray);
    width: 50%;
}
#mobMenu a {
    color: var(--webcolorDarkGreend);
    text-decoration: none;
}
#mobMenu li:hover {
    background-color: var(--webcolorDarkGreend);
}
#mobMenu li:hover a {
    color: var(--webcolorDarkGreenGray);
}
#isLoginHide a {
    position: relative;
}
#isLoginHide a + a:before {
    position: absolute;
    top: 50%;
    left: 0;
    content: '/';
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
